*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-weight: inherit !important;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: josefin sans, sans-serif;
  box-sizing: border-box;
  font-weight: 400 !important;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
}

.h1-heading {
  font-size: 6rem;
  font-weight: 300 !important;
}
.h2-heading {
  font-weight: 300 !important;
  font-size: 6rem;
  line-height: 6rem;
  @media (max-width: 991.98px) {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}
.h3-heading {
  font-size: 3rem;
  font-weight: 300 !important;
}
.h4-heading {
  font-size: 1.8rem;
  font-weight: 700 !important;
  line-height: 2.4rem;
}
.white {
  color: $text-color-light;
}
.dark-1 {
  color: $heading-dark;
}
.dark-2 {
  color: $para-dark;
}
.light-1 {
  color: $text-color-light;
}
.paragraph {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 300 !important;
  &.big {
    font-size: 3rem;
    line-height: 4rem;
  }
}
.text-center {
  text-align: center;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;

    @media (min-width: 991.98px) {
      &:not(:first-child):not(:last-child) {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
      }

      &:first-child {
        padding-right: 1.5rem;
      }

      &:last-child {
        padding-left: 1.5rem;
      }
    }
  }
}
