$color-primary: #ffeec9;
$color-primary-light: #fff9ec;

$text-color-dark: #575a5d;
$text-color-light: #7f796c;
$heading-dark: #353431;
$para-dark: #617182;

$bg-color: #e9edf1;
$bg-color-light: #1d1e20;
$bg-color-white: #ffffff;

$icon-color: #a04c10;

$header-nav-padding: 1.2rem;

$button-color: #d26c23;

$section-padding: 15rem;
$section-bg: #f2f5f8;