@font-face {
    font-family: 'Beautifo';
    src: url('../fonts/beautifo-webfont.woff2') format('woff2'),
    url('../fonts/beautifo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}